/* .logo{
    height:7vh
} */

.login,
.logout-button,
.logoutbox button {
background-color: rgba(233, 249, 9, 0.011);
color: white;
padding: 10px 20px;
font-size: 16px;
cursor: pointer;
transition: transform 0.3s ease;
}
.logout-button,.logoutbox button{
color:white;
}
.button{
border: pink;
border-width: 2px;
}

.login:hover,
.logout-button:hover,
.logoutbox button:hover {
transform: scale(1.1);
}

/* Your existing styles for profile icon */
.profile-image {
/* padding-top: 10%; */
width: 90px;
height: 90px;
border-radius: 50%;
}

/* Adjust styles for user email and profile icon */
.profile-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; /* Add margin for separation */
  }
  
  


/* Your existing styles for logout box */
.logoutbox {

background-color: inherit;
/* border: 1px solid #ccc; */
padding-left: 70%;
padding-top: 5%;
}

.confirmation-message {
background-color:  rgba(233, 249, 9, 0.011);
padding: 10px;
/* margin-bottom: 10px; */
}

.confirmation-message button {
margin-right: 5px;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");


body {
  /* background: #31395c; */
  /* padding: 3em;
  display: flex;
  justify-content: flex-end;
  font-family: "Roboto", sans-serif; */

  @media (max-height: 500px) {
    font-size: 60%;
  }
}
.initial{
    text-align: center;
    font-size: 16px;
}

.hamburger-button {
  outline: none;
  border: none;
  cursor: pointer;
  width: 2em;
  height: 2em;
  position: fixed;
  top: 2%;
  left: 6%;
  z-index: 10;
  background-color: inherit;
  background-image: url(https://res.cloudinary.com/dnpyq0ocz/image/upload/v1588441892/icon-hamburger.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  -webkit-tap-highlight-color: transparent;

  /* &.open {
    background-image: url(https://img.icons8.com/ios-filled/50/delete-sign--v1.png);
    border: 3px black solid;
  } */
}

.panel {
  max-width: 50%;
  /* background-color: rgba(27, 24, 113, 1); */
  background-color: white;
  /* background-size: 117px 188px; */
  transition: all 0.4s cubic-bezier(0.5, 0.1, 0.5, 1.01);
  position: fixed;
  z-index: 15;
  left: -50%;
  top: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  padding-top: 3em;
  padding-left: 3em;
  padding-right: 3em;
  /* padding-bottom: 2em; */
  /* display: flex; */

  &.open {
    visibility: visible;
    width: 100%;
    left: 0;
    opacity: 1;
    cursor: pointer;
  }
  
}

ul {
  /* margin: auto 0 auto auto; */
  padding-top:5%;
  padding-left: 0%;

  li {
    list-style: none;

    font-size: 25px;

    text-align: left;
    margin-top: 1em;

    & + li {
      margin-top: 1em;
    }

    a {
      text-decoration: none;
      color: rgba(27, 24, 113, 1);

      &:hover {
        color: black;
      }
    }
  }
}

.logout{
    display: flex;
    color: red;
    font-size: 20px;
    padding-left: 1%;
    /* padding-right: 5%; */
    /* justify-content: center; */
    /* text-align: center; */
}

.icons{
    /* padding-top: 1%; */
    padding-left: 1%;
    display: flex;
    font-size: 20px;
    color: rgba(27, 24, 113, 1);
}
#dot {
    position: relative;
  }
  
  #dot::after {
    content: "";
    position: absolute;
    top: 0;
    /* left: 5%; */
    right: 0;
    width: 8px;
    height: 8px;
    background-color: red; /* Change color as needed */
    border-radius: 50%;
  }
  
  #dot_1 {
    position: relative;
  }
  
  #dot_1::after {
    content: "";
    position: fixed;
    top: 1.7vh;
    left: 42px;
    width: 8px;
    height: 8px;
    background-color: red; /* Change color as needed */
    border-radius: 50%;
    z-index: 11;
  }
