.login{
    position: absolute;
    top: 1%;
    right: 3%;
}
.logo{
	/* height:40%;
	width: 30%; */
	padding-top: 2%; 
	padding-left: 2%;
	padding-bottom: 2%;
	padding-right: 2%;
	height: 25%;
	width: 25%;
	border-radius: 50%;
  /* overflow: hidden; */
  border: 2px solid #ccc 
}
.centered-text{
  color: white;
  text-align: center;
}

.solar_panels{
  place-items: "center";
  width: 30%;
  height: 30%;
}

.Battery{
  width: 20%;
  height:20%;
  padding-top: 10%;
  padding-right: 10%;
}

.grid{
padding-top: 12%;
  height: 33%;
  width: 33%;
  padding-left: 15%;
}

.home{
  padding-top: 15%;
  height: 25%;
  width: 25%;
  padding-left: 10%;
  /* padding-top: 5%; */
}

.login{
  position: absolute;
  top: 1%;
  right: 3%;
}
/* .logo{
  height:7vh
} */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Set the container height to the full viewport height */
}

.centered-text {
  text-align: center;
  color: white;
  margin-top: 20px; /* Adjust as needed */
}

/* Home.css */
.home-container {
position: relative;
}



.top-right {
top: 10px;
right: 10px;
}

.login,
.logout-button,
.logout-box button {
background-color: rgba(233, 249, 9, 0.011);
color: white;
padding: 10px 20px;
font-size: 16px;
cursor: pointer;
transition: transform 0.3s ease;
}
.logout-button,.logout-box button{
color:black;
}
.button{
border: pink;
border-width: 2px;
}

.login:hover,
.logout-button:hover,
.logout-box button:hover {
transform: scale(1.1);
}

/* Your existing styles for profile icon */
.profile-image {
width: 40px;
height: 40px;
border-radius: 50%;
}

.initials {
width: 40px;
height: 40px;
border-radius: 50%;
background-color: #007bff;
color: white;
display: flex;
align-items: center;
justify-content: center;
font-size: 18px;
font-weight: bold;
}

/* Your existing styles for logout box */
.logout-box {
position: absolute;
top: 60px; /* Adjust this value as needed */
right: 10px;
background-color: white;
border: 1px solid #ccc;
padding: 5px;
}

.confirmation-message {
background-color:  rgba(233, 249, 9, 0.011);
padding: 10px;
/* margin-bottom: 10px; */
}

.confirmation-message button {
margin-right: 5px;
}

.vertical-line {
	/* padding-bottom: 20%; */
	width: 2px; /* Adjust width as needed */
	height: 13%; /* Adjust height as needed */
	position: absolute;
	left: 50%; /* Position the line in the middle */
	top: calc(14% + 50px); /* Adjust top position as needed */
	/* background: linear-gradient(to bottom, #808080, #808080); //Initial gradient flow */
	background: 'white';
	/* Center the line horizontally */
	border-radius: 10px; /* Adjust border radius as needed */
	z-index: 10;
  }
  .vertical-lin{
	width: 3px; /* Adjust width as needed */
	height: 15%; /* Adjust height as needed */
	position: absolute;
	left: 50%; /* Position the line in the middle */
	top: calc(12% + 50px); /* Adjust top position as needed */
	/* background: linear-gradient(to bottom, #808080, #808080); //Initial gradient flow */
	background: 'white';
	border-radius: 10px;
	animation: flowAnimation 1s infinite; /* Animation */
	z-index: 5;
  }
  .vertical-line:before {
	content: "";
	position: absolute;
	top: -50%;
	height: 13%;
	width: 3px;
	background-color: green;
	-webkit-animation: lineAnim 2s linear infinite;
	-moz-animation: lineAnim 2s linear infinite;
	animation: lineAnim 2s linear infinite;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

.vertical-line-left {
	/* padding-bottom: 20%; */
	width: 2px; /* Adjust width as needed */
	height: 13%; /* Adjust height as needed */
	position: absolute;
	left: 50%; /* Position the line in the middle */
	top: calc(14% + 50px); /* Adjust top position as needed */
	/* background: linear-gradient(to bottom, #808080, #808080); //Initial gradient flow */
	background: 'white';
	/* Center the line horizontally */
	border-radius: 10px; /* Adjust border radius as needed */
  }
  .vertical-lin-left{
	width: 3px; /* Adjust width as needed */
	height: 15%; /* Adjust height as needed */
	position: absolute;
	left: 50%; /* Position the line in the middle */
	top: calc(12% + 50px); /* Adjust top position as needed */
	/* background: linear-gradient(to bottom, #808080, #808080); //Initial gradient flow */
	background: 'white';
	border-radius: 10px;
	animation: flowAnimation 0.7s infinite; /* Animation */
	
  }
  .vertical-line-left:before {
	content: "";
	position: absolute;
	top: -50%;
	height: 13%;
	width: 3px;
	background-color: green;
	-webkit-animation: lineAnim 2s linear infinite;
	-moz-animation: lineAnim 2s linear infinite;
	animation: lineAnim 2s linear infinite;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

.vertical-line-right-down {
	/* padding-bottom: 20%; */
	width: 2px; /* Adjust width as needed */
	height: 13%; /* Adjust height as needed */
	position: absolute;
	left: 50%; /* Position the line in the middle */
	top: calc(14% + 50px); /* Adjust top position as needed */
	/* background: linear-gradient(to bottom, #808080, #808080); //Initial gradient flow */
	background: 'white';
	/* Center the line horizontally */
	border-radius: 10px; /* Adjust border radius as needed */
	z-index: 10;
  }
  .vertical-line-right-down{
	width: 3px; /* Adjust width as needed */
	height: 15%; /* Adjust height as needed */
	position: absolute;
	left: 50%; /* Position the line in the middle */
	top: calc(12% + 50px); /* Adjust top position as needed */
	/* background: linear-gradient(to bottom, #808080, #808080); //Initial gradient flow */
	background: 'white';
	border-radius: 10px;
	animation: flowAnimation 1s infinite; /* Animation */
	z-index: 5;
  }
  .vertical-line-right-down:before {
	content: "";
	position: absolute;
	top: -50%;
	height: 13%;
	width: 3px;
	background-color: green;
	-webkit-animation: lineAnim 2s linear infinite;
	-moz-animation: lineAnim 2s linear infinite;
	animation: lineAnim 2s linear infinite;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

@keyframes lineAnim {
	
	0%{
		top: -20%;
	}
	50% {
		top: 20%;
		height: 100%;
	}
	100% {
		top: 80%;
		height: 5%;
	}
}

  .vertical-line-left {
	width: 1.5px; /* Adjust width as needed */
	height: 14%; /* Adjust height as needed */
	position: absolute;
	left: 35%; /* Position the line in the middle */
	top: calc(45% + 50px); /* Adjust top position as needed */
	/* background: linear-gradient(to bottom, #808080, #808080); //Initial gradient flow */
	background: '#808080';
	transform: translateX(-50%); /* Center the line horizontally */
	border-radius: 10px; /* Adjust border radius as needed */
	animation: flowAnimation 0.7s infinite; /* Animation */
	transform: rotate(45deg) translateZ(1px);
  }

  .vertical-line-right-down {
	width: 1.5px; /* Adjust width as needed */
	height: 15%; /* Adjust height as needed */
	position: absolute;
	left: 65%; /* Position the line in the middle */
	top: calc(45% + 50px); /* Adjust top position as needed */
	/* background: linear-gradient(to bottom, #808080, #808080); //Initial gradient flow */
	background: '#808080';
	transform: translateX(-50%); /* Center the line horizontally */
	border-radius: 10px; /* Adjust border radius as needed */
	animation: flowAnimation 0.7s infinite; /* Animation */
	transform: rotate(-45deg) translateZ(1px);
  }

  .vertical-line-right-up {
	width: 2px; /* Adjust width as needed */
	height: 13%; /* Adjust height as needed */
	position: absolute;
	left: 60%; /* Position the line in the middle */
	top: calc(42% + 50px); /* Adjust top position as needed */
	/* background: linear-gradient(to bottom, #808080, #808080); //Initial gradient flow */
	background: '#808080';
	transform: translateX(-50%); /* Center the line horizontally */
	border-radius: 10px; /* Adjust border radius as needed */
	animation: flowAnimation_1 0.7s infinite; /* Animation */
	transform: rotate(-45deg) translateZ(1px);
  }
  
  @keyframes flowAnimation {
	0% {
	  background: linear-gradient(to bottom, white, white); /* Start gradient */
	  background-size: 100% 0%; /* Start gradient size */
	}
	100%{
	  background: linear-gradient(to bottom, white, white); /* End gradient */
	  background-size: 100% 100%; /* End gradient size */
	}
  }

  @keyframes flowAnimation_1 {
	0% {
	  background: linear-gradient(to bottom, rgb(37, 41, 41), rgb(37, 41, 41)); /* Start gradient */
	  background-size: 100% 100%; /* Start gradient size */
	}
	100% {
	  background: linear-gradient(to bottom, rgb(37, 41, 41), #7cdee0); /* End gradient */
	  background-size: 100% 0%; /* End gradient size */
	}
  }
  
  
  
  

/* .scroll-prompt {
	position: relative;
	z-index: 998;
	left: 50%;
	margin-left: -72px;
  margin-bottom: -100px;
	width: 160px;
	height: 160px;

	.scroll-prompt-arrow-container {
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -18px;
		animation-name: bounce;
		animation-duration: 1.5s;
		animation-iteration-count: infinite;
	}
	.scroll-prompt-arrow {
		animation-name: opacity;
		animation-duration: 1.5s;
		animation-iteration-count: infinite;
	}
	.scroll-prompt-arrow:last-child {
		animation-direction: reverse;
		margin-top: -6px;
	}
	.scroll-prompt-arrow > div {
		width: 25px;
		height: 25px;
		border-right: 8px solid #bebebe;
		border-bottom: 8px solid #bebebe;
		transform: rotate(45deg) translateZ(1px);
	}
}

@keyframes opacity {
	0% {
		opacity: 0;
	}

	10% {
		opacity: 0.1;
	}

	20% {
		opacity: 0.2;
	}

	30% {
		opacity: 0.3;
	}

	40% {
		opacity: 0.4;
	}

	50% {
		opacity: 0.5;
	}

	60% {
		opacity: 0.6;
	}

	70% {
		opacity: 0.7;
	}

	80% {
		opacity: 0.8;
	}

	90% {
		opacity: 0.9;
	}

	100% {
		opacity: 1;
	}
}

@keyframes bounce {
	0% {
		transform: translateY(0);
	}

	10% {
		transform: translateY(3px);
	}

	20% {
		transform: translateY(6px);
	}

	30% {
		transform: translateY(9px);
	}

	40% {
		transform: translateY(12px);
	}

	50% {
		transform: translateY(15px);
	}

	60% {
		transform: translateY(18px);
	}

	70% {
		transform: translateY(21px);
	}

	80% {
		transform: translateY(24px);
	}

	90% {
		transform: translateY(27px);
	}

	100% {
		transform: translateY(30px);
	}
} */
