@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Orbitron:wght@400..900&display=swap');


.before_login_logo{
  height: 28%;
  width: 28%;
    padding-top: 30vh;
}
.typewrite{
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 9vw;
    /* font-family: "Shrikhand", serif; */
    font-family: "Orbitron", sans-serif;
  font-weight: 100;
}

.login_button {
background-color: rgba(233, 249, 9, 0.011);
color: white;
padding: 10px 20px;
font-size: 16px;
cursor: pointer;
transition: transform 0.3s ease;
position: fixed;
top: 55vh;
left: 40%;
border-radius: 10%;
}
.login_button:hover {
transform: scale(1.1);
}